# Used for bnc-notify walletconnect
NEXT_PUBLIC_INFURA_RPC=""

# 1 main Network
# 3 ropsten Test Network
# 4 rinkeby Test Network
# 5 goerli Test Network
# 42 kovan Test Network
# 56  bsc Binance Smart Chain Network
# 100 xdai POA Network
NETWORK_ID=

# Used for IPFS store
FLEEK_API_KEY=""
FLEEK_API_SECRET=""